:root {
    /* SIZES */
    --sz-0: .25rem;
    --sz-1: .5rem;
    --sz-2: .75rem;
    --sz-3: 1rem;
    --sz-4: 1.25rem;
    --sz-5: 1.5rem;
    --sz-6: 2rem;
    --sz-7: 2.5rem;
    --sz-8: 3rem;
    --sz-9: 4rem;
    /* COLORS */
    --c-1: rgba(255,255,255,1);
    --c-2: rgba(0,0,0,1);
    --c-3: rgba(210, 135, 255, 1);
    --c-4: rgba(182, 240, 48, 1);
    --c-5: rgba(102,102,102,1);
    --c-6: rgba(34,34,34,1);
    --c-7: rgba(204, 204, 204, 1);
    --c-8: rgba(219, 64, 47, 1);
    --c-9: rgba(255, 215, 0, 1);
    /* SPACING */
    --s-1: var(--sz-1);
    --s-2: var(--sz-2);
    --s-3: var(--sz-5);
}
